#add-to-cart-show a, #checkout-button {
  color: #209cee;
  border: 1px solid #209cee;
}
#add-to-cart-show a, #buy-it-now-show a{
  width: 100%;
}

#add-to-cart-show, #buy-it-now-show {
  padding: 0.25rem;
}
