.product-column a{
  color:#4a4a4a;
}

.product-column a:hover{
  color:#209cee;
}

.product-column {
  //!important is needed to overwrite frameworks .box:not(:last-child) value
  margin: 1rem !important;
}
.product-price {
  color: #209cee;
}

//Fixed product create button
.product-create{
  position: fixed;
  bottom: 30px;
  right: 5%;
}


@media only screen and (max-width: 768px) {
  .product-name {
    font-size: 0.85rem;
  }
  .product-description {
    font-size: 0.75rem;
  }
}
