.product-column a{
  color:#4a4a4a;
}

.product-column a:hover{
  color:#209cee;
}

.product-column {
  //!important is needed to overwrite frameworks .box:not(:last-child) value
  margin: 1rem !important;
}
.product-price-show, .product-price-index {
  color: #209cee;
}

.product-price-index strike {
  color: #4a4a4a;
}

//Fixed product create button
.product-create{
  position: fixed;
  bottom: 30px;
  right: 5%;
}

.product-description-show {
  margin-top:20%;
}

.product-description-index, .product-material-index {
    display: none;
}

@media only screen and (max-width: 768px) {
  .product-name-index {
    font-size: 0.85rem;
  }
  .product-description-show, .product-description-index {
    font-size: 0.75rem;
  }

}
